<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('indexPage') }}">Datalimpics</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('indexPage') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  You're on <b>Countries</b> Page
                </span>
              </div>
            </div>
          </nav>
    </div>
    
    <div class="container">
        <hr>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('indexPage') }}">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active" aria-current="page">Countries</li>
        </ol>
      </nav>
      <hr>
    </div>


    <div class="container text-center">
        <div class="row">
          <div class="col-sm-8">
            <br>
            <h4> Countries Table </h4>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Country Code</th>
                        <th>Country Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in countries %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ country['country_code'] }}</td>
                        <td>{{ country['country_name'] }}</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="col-sm-4">
            <br>
            <div class="card">
              <div class="card-header">
                Add New Country
              </div>
              <div class="card-body">
                <form method="GET" action="#">
                  <div class="mb-3">
                    <label for="countryCode" class="form-label
                    ">Country Code</label>
                    <input type="text" class="form-control" id="countryCode" required="" placeholder="Input country code">
                    </div>
                    <div class="mb-3">
                      <label for="countryName" class="form-label ">Country Name</label>
                        <input type="text" class="form-control" id="countryName" required="" placeholder="Input country name">
                    </div>
                    <button type="submit" class="btn btn-success">Add Country</button>
                </form>
                </div>
            </div>


            <div class="card mt-4">
                <div class="card-header">
                    Search Countries
                </div>
                <div class="card-body">
                    <form class="row g-3" method="GET" action="#">
                        <div class="col-auto">
                            <input type="text" class="form-control" id="searchCountry" placeholder="Type country name">
                        </div>
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-3">Search</button>
                        </div>
                      </form>
                </div>
            </div>
                    
          </div>
        </div>
      </div>    
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
