<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplines</title>
</head>
<body>
    <button onclick="location.href='{{ url_for('indexPage') }}'">Back to Home</button>
    <h1>Disciplines</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Discipline ID</th>
                <th>Discipline Name</th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline['discipline_id'] }}</td>
                <td>{{ discipline['discipline_name'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
