<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medals Total</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('indexPage') }}">Datalimpics</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('indexPage') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  You're on <b>Medals Total</b> page
                </span>
              </div>
            </div>
          </nav>
    </div>

    <div class="container">
        <hr>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('indexPage') }}">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active" aria-current="page">Medals Total</li>
        </ol>
      </nav>
      <hr>
    </div>

    <button onclick="location.href='{{ url_for('indexPage') }}'">Back to Home</button>
    <h1>Medals Total</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Country</th>
                <th>Gold Medals</th>
                <th>Silver Medals</th>
                <th>Bronze Medals</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for medal in medals_total %}
            <tr>
                <td>{{ medal['rank'] }}</td>
                <td>{{ medal['country_name'] }}</td>
                <td>{{ medal['gold_medal'] }}</td>
                <td>{{ medal['silver_medal'] }}</td>
                <td>{{ medal['bronze_medal'] }}</td>
                <td>{{ medal['total'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
